h1 {
    text-align:left;
    margin-left:10vw;
    margin-right:10vw;
    font-weight:300;
    border-bottom:1px solid #d3d3d3;
}

.info {
    margin-right: 10vw;
    line-height: 1.5em;
    margin-left: 10vw;
}
